body {
    background-image: url(assets/quadro-com-vetor-de-caes-em-fundo-branco_53876-127700.avif);
    display: flex;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

header {
    position: sticky;
    background-color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;

}

main {

    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(253, 213, 154);
    border-radius: 20px;
    padding: 20px;
}

h1 {
    align-items: center;
    justify-content: center;
    text-align: center;
    position: sticky;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
}

select {
    border-radius: 5px;
}

button {
    border-radius: 5px;
    

}

form {
    align-items: center;
    text-align: center;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.resultado {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(253, 213, 154);
    border-radius: 20px;
    padding: 20px;
}

