body{
    background-color: (white);
}

header {
    position: sticky;
    background-color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}