body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 228, 196, 0.641);
}

header {
    position: sticky;
    background-color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    
}

main {
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(253, 213, 154);
    border-radius: 20px;
    padding: 20px;
}

h1{
    position: sticky;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    border: solid;
    border-radius: 10px;
}

select {
    border: solid;
    border-radius: 10px;
}

button {
    border-radius: 10px;
    border: solid;

}

